*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'graphik regular',Arial, Helvetica, sans-serif;
    background-color: #E6E6E6;
}
/* nav-bar */
a {
    text-decoration: none;
}
nav {
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
#nav-div{
    width: 80%;
    margin: 0 10%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu a {
    color: black;
    padding: 8px;
    border-style: none none solid none;
    border-width: 1px;
}
.menu a:hover {
    border-style: solid;
    border-radius: 5px;
}
#search-bar input {
    width: 200px;
    height: 25px;
    background-color:#E6E6E6 ;
    border-style: none none solid none;
    border-width: 1px;
}
#search-bar button {
    height: 25px;
    background-color: #E6E6E6;
    border-style: none none solid none;
    border-width: 1px;
}
.menu-btn img{
    width: 20px;
    height: 30px;
}
.menu-btn {
    display: none;
}
@media (max-width:768px) {
    body{
        overflow-x: hidden ;
    }
    .menu  {
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 600px;
        width: 50%;
        top:80px;
        right: 0;
        background-color:#E6E6E6 ;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    } 
    .menu-btn{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .menu-active {
        transform: translateX(0%);
    }
    #logo{
        font-size: 13px;
    }
    #search-bar input  {
        width: 120px;
    }
    #search-bar button {
        width: 40px;
        font-size: 10px;
    }
}
/* part-1*/

#part-1{
    width: 80%;
    height: 600px;
    margin: 0 10%;
    display: grid;
    grid-template-columns: 35% 30% auto;
}
.part1_img {
    background-size: cover;
    font-size: 0px;
    padding: 10%;
    color: black;
}
.part1_img:hover{
    font-size: 40px;
    opacity: 0.7;
}
#third-div {
    display: flex;
    flex-direction: column;
}
.img1 {
    background-image: url("images1/Handmade Sunglasses & Eyeglasses Collections - MYKITA®.jpg");
}
.img2 {
    background-image: url("images1/Couple Photography в 2020 г _ Парные портреты, Фотография пары, Фотосъемка.jpg");
}
.img3 {
    background-image: url("images1/joel-muniz-zqgJbYEQRJA-unsplash.jpg");
    height: 50%;
}
.img4 {
    background-image: url("images1/eliott-reyna-jCEpN62oWL4-unsplash.jpg");
    height: 50%;
}
@media (max-width:768px){
    #part-1{
        display: grid;
        grid-template-rows: 40% auto auto;
        grid-template-columns: 50% 50%;
    }
    #third-div{
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .part1_img:hover{
        font-size: 20px;
    }
}